<head><title>{{ title }} - YazidSearch</title></head>

<meta http-equiv="content-type" content="text/html;charset=utf-8">
<link href="../../static/style/baidustyle.css" rel="stylesheet" type="text/css" />
<link href="../../static/style/sogoustyle.css" rel="stylesheet" type="text/css" />
<link href="../../static/style/yazidstyle.css" rel="stylesheet" type="text/css" />

<div id="head"><div class="head_wrapper fm">
	<div class="">
		<div class="fm"><a href="/index/"><img src="../../static/jpg/logo.png" width=90px/></a></div>
		<div class="fm">
			<h1>{{ title }}</h1>
			<div class="search_tool_conter">
				<!-- <span class="nums_text" style="font-size:15px"><strong>Date:</strong> {{ date }}</span> -->
				<!-- <span style="margin-left:66px"><span class="nums_text" style="font-size:15px"><strong>URL:</strong> <a href="{{ url }}">{{ url }}</a></span></span> -->
			</div>
		</div>
		<div></div>
	</div>
</div></div>



	
	<!-- <div class="" ><div class="" style=""><div class="search_tool_conter"> -->
		<!-- <span class="nums_text">YazidSearch find result(s) for you. </span> -->
		<!-- <span class="nums_text"> second used.</span> -->
	<!-- </div></div></div> -->
<!-- </div> -->

<div class="result-op c-container" id="content_left" style="margin-top:117">
	<div class="result c-container" style="font-size:16px">
		<h2 align='center'>内容</h2>
		<p style="margin-top:7">{{ content }}</p>
	</div>
	<div class="result c-container" style="font-size:16px">
		<h2 align='center'>带词性标注的内容</h2>
		<p style="margin-top:7">{{ text_pos }}</p>
	</div>
</div>